**.env
# config/server/api-jwt-secret.yaml
internal/controller/bin/k8s/k8s/1.30.3-darwin-arm64/*
bin/k8s/1.34.1-darwin-arm64/*
bin/k8s/*
bin/setup-envtest*

cover.out
ksec
secret_data.json
config.json