---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - secrets.myapp.io
  resources:
  - secretclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - secrets.myapp.io
  resources:
  - secretclaims/finalizers
  verbs:
  - update
- apiGroups:
  - secrets.myapp.io
  resources:
  - secretclaims/status
  verbs:
  - get
  - patch
  - update
