apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-server
  template:
    metadata:
      labels:
        app: api-server
    spec:
      serviceAccountName: api-server-sa
      containers:
      - name: api-server
        image: docker.io/library/secret-api:v0.0.3
        imagePullPolicy: IfNotPresent

        ports:
        - containerPort: 8080
        env:
        - name: CONFIG_PATH
          value: "/config/config.yaml"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: api-jwt-secret
              key: JWT_SECRET
        volumeMounts:
        - name: config-volume
          mountPath: /config
      volumes:
      - name: config-volume
        configMap:
          name: api-server-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-server-config
data:
  config.yaml: |  
    service: 
      name: k8s-secret-manager
      version: 1.0.0
      port: :8080


    users:
      - id: "356366758"
        username: admin
        pwd: $2a$10$0teWtw1zeBS.SY5ytsKdyeQVtVvz8w54e8Px01cI6359FQtBWratK  # Admin
        role: admin
        allowed_namespaces: ["*"] 
      - id: "987654321"
        username: dev1
        pwd: $2a$10$O9XIt8mkEOXbrvMEl1m3P.RdW2aTEZHBVOaKhG3OPj82OOA7qFPl2  # SpellCasting
        role: developer
        allowed_namespaces: ["dev-one", "staging"]
      - id: "235634656"
        username: dev2
        pwd: $2a$10$eNu1N/whZhZm2IOOPlSyi.uTWNPlI15l6khRvcJqsgVltIZ0ztcay  # Yeeeeet1917 
        role: developer
        allowed_namespaces: ["dev-two"]
  
---
apiVersion: v1
kind: Service
metadata:
  name: api-server
  namespace: default
spec:
  selector:
    app: api-server
  ports:
  - name: http
    port: 8080       
    targetPort: 8080 
    protocol: TCP
  type: ClusterIP
