apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: api-server-role
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
- apiGroups: ["secrets.myapp.io"]
  resources: ["secretclaims"]
  verbs: ["create", "get", "list", "delete", "update"]
