---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: secretclaims.secrets.myapp.io
spec:
  group: secrets.myapp.io
  names:
    kind: SecretClaim
    listKind: SecretClaimList
    plural: secretclaims
    singular: secretclaim
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SecretClaim is the Schema for the secretclaims API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SecretClaimSpec defines the desired state of SecretClaim
            properties:
              data:
                additionalProperties:
                  type: string
                type: object
              generation:
                properties:
                  dataKeys:
                    items:
                      type: string
                    type: array
                  encoding:
                    type: string
                  length:
                    type: integer
                  reconcileTrigger:
                    type: string
                required:
                - length
                type: object
              type:
                type: string
            required:
            - type
            type: object
          status:
            description: SecretClaimStatus defines the observed state of SecretClaim.
            properties:
              createdSecretName:
                type: string
              errorMessage:
                type: string
              lastReconcileTrigger:
                type: string
              lastUpdate:
                format: date-time
                type: string
              synced:
                type: boolean
            required:
            - synced
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
