
openapi: 3.1.1

info:
  title: Chess website API
  description: API Specification for Chess website
  version: 0.0.1
  license: 
    name: Apache 2.0
    identifier: Apache-2.0
    
servers:
  - url: https://dev.k8s-vault.com/v1
    description: Development server

  - url: https://staging.k8s-vault.com/v1
    description: Staging server

  - url: https://api.k8s-vault.com/v1
    description: Production server


paths: 
  /secrets:
    post: 
      tags: 
        - secrets
      summary: Create a scret 
      operationId: CreateSecret
      
      requestBody: 
        required: true
        content: 
          application/json:
            schema: 
              $ref: "#/components/schemas/CreateSecretRequest"
            
      responses:
        "201":
          $ref: "#/components/responses/OkResponse"
      
        "400":
          $ref: "#/components/responses/BadRequest"
        
        "401":
          $ref: "#/components/responses/Unauthorized"
        
        "403":
          $ref: "#/components/responses/Forbidden"
        
        "404":
          $ref: "#/components/responses/NotFound"
        
        "409":
          $ref: "#/components/responses/Conflict"
        
        "500":
          $ref: "#/components/responses/Internal"
  
    get: 
      tags:
        - secrets
      summary: List available secrets 
      operationId: ListSecrets
    
      parameters: 
        - $ref: "#/components/parameters/Namespace"
      
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/ListSecretsResponse"

        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"
        
        "403":
          $ref: "#/components/responses/Forbidden"
        
        "404":
          $ref: "#/components/responses/NotFound"
        
        "500":
          $ref: "#/components/responses/Internal"
  
      
  /secrets/{name}:
    get: 
      tags:
        - secrets
      summary: Get secret from vault
      operationId: GetSecret
      
      parameters: 
        - $ref: "#/components/parameters/Namespace"
        - $ref: "#/components/parameters/ResourceName"
            
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/SecretResponse"

        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"
        
        "403":
          $ref: "#/components/responses/Forbidden"
        
        "404":
          $ref: "#/components/responses/NotFound"
        
        "500":
          $ref: "#/components/responses/Internal"

    put: 
      tags:
        - secrets
      summary: Update secret
      operationId: UpdateSecret

      parameters: 
        - $ref: "#/components/parameters/Namespace" 
        - $ref: "#/components/parameters/ResourceName"
      
      requestBody: 
        required: true
        content: 
          application/json:
            schema: 
              $ref: "#/components/schemas/UpdateSecretRequest"
        
      
      responses: 
        "200": 
          description: Success
          content: 
            application/json:
              schema: 
                $ref: "#/components/schemas/SecretResponse"
        
        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"
        
        "403":
          $ref: "#/components/responses/Forbidden"
        
        "404":
          $ref: "#/components/responses/NotFound"
        
        "500":
          $ref: "#/components/responses/Internal"
        
    delete: 
      tags:
        - secrets
      summary: Delete secret
      operationId: DeleteSecret

      parameters: 
        - $ref: "#/components/parameters/Namespace" 
        - $ref: "#/components/parameters/ResourceName"
        
      responses: 
        "200": 
          $ref: "#/components/responses/OkResponse"
        
        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"
        
        "403":
          $ref: "#/components/responses/Forbidden"
        
        "404":
          $ref: "#/components/responses/NotFound"
        
        "500":
          $ref: "#/components/responses/Internal"
  
  /user/auth:
    post:
      tags:
        - auth
      summary: Exchange Auth Data for JWT
      operationId: AuthUser
      description: Get JWT token for basic creds
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthUserRequest'
            
      responses:
        '200':
          description: Успешная аутентификация.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Internal'

components: 
  parameters:
    ResourceName:
      name: name
      in: path
      required: true
      schema: 
        type: string
        example: my-app-secret-db
    
    Namespace:
      name: namespace
      in: query
      required: true
      schema: 
        type: string
        example: staging

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses: 
    OkResponse:
      description: Success 
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/OkResponse"

    BadRequest:
      description: 400 Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorBadRequest"
    
    Unauthorized:
      description: 401 Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorUnauthorized"
    
    Forbidden:
      description: 403 Forbiden
      content:
        application/json:
          schema: 
            $ref: "#/components/schemas/ErrorForbidden"

    NotFound:
      description: 404 Not found
      content:
        application/json:
          schema: 
            $ref: "#/components/schemas/ErrorNotFound"
    
    Conflict:
      description: 409 Conflict
      content: 
        application/json:
          schema: 
            $ref: "#/components/schemas/ErrorConflict"

    Internal:
      description: 500 Internal Server Error
      content: 
        application/json:
          schema: 
            $ref: "#/components/schemas/ErrorInternal"


  schemas:
    OkResponse:
      type: object
      properties: 
        ok: 
          type: boolean
    
    GenerationConfig:
      type: object
      description: Secret generation settings
      required:
        - length
      properties:
        length:
          type: integer
          format: int32
          description: Generated secret len
          minimum: 8
        encoding:
          type: string
          description: Encoding type 'base64', 'hex', 'alphanumeric'
          default: alphanumeric

    CreateSecretRequest:
      type: object
      description: Create new k8s secret
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Secret name, unique for the workspace
        namespace:
          type: string
          description: Namespace name, where the secret will be created
          default: default
        type:
          type: string
          description: Opaque if secret is set, AutoGenerated if the secret needs to be generated
          enum: 
            - Opaque
            - AutoGenerated
        data:
          type: object
          description: Key-value data if Opaque else empty
          additionalProperties:
            type: string
        generationConfig:
          $ref: '#/components/schemas/GenerationConfig'
          description: Generation settings if AutoGenerated else empty

    SecretResponse:
      type: object
      description: Response of a k8s secret resources
      required:
        - name
        - status
        - type
      properties:
        name:
          type: string
          description: Secret name
        namespace:
          type: string
          description: Namespace name
        type:
          type: string
          description: Opaque or AutoGenerated
        status:
          type: string
          description: Current status of operator
          enum: [Pending, Ready, Error, NotFound]
        data:
          type: object
          description: Key-value data if Opaque else empty
          additionalProperties:
            type: string
        errorMessage:
          type: string
          description: Error message if status == Error

    ListSecretsResponse:
      description: All SecretClaims in the Namespace
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SecretResponse'
    
        
    UpdateSecretRequest:
      type: object
      description: Request body to update the data of an existing Secret
      properties:
        type:
          type: string
          description: Pass to change the secret type 
          enum: [Opaque, AutoGenerated]
        data:
          type: object
          description: New key-value data if type='Opaque'
          additionalProperties:
            type: string
        regenerate:
          type: boolean
          description: Value to regenerate value in update request. Only if 'AutoGenerated'
          default: false
        generationConfig:
          $ref: '#/components/schemas/GenerationConfig'
          description: New gen config if type='AutoGenerated'
    
    AuthUserRequest:
      type: object
      description: Login password auth
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          format: password
          example: secure_cli_pass_123

    AuthUserResponse:
      type: object
      description: Response with token
      required:
        - token
      properties:
        token:
          type: string
          description: JWT-token
        expiresIn:
          type: integer
          format: int64
          description: Timeframe in seconds
          example: 3600

    # Error schemas
    ErrorBadRequest:
      type: object
      properties:
        statusCode: 
          type: integer
          default: 400
        errorCode: 
          type: string
          default: Bad request
        errorMessage: 
          type: string
          example: Request body is invalid

    ErrorUnauthorized:
      type: object
      properties: 
        statusCode: 
          type: integer
          default: 401
        errorCode:
          type: string
          default: Unauthorized
        errorMessage: 
          type: string
          example: Invalid JWT 
    
    ErrorForbidden:
      type: object
      properties: 
        statusCode: 
          type: integer
          default: 403
        errorCode: 
          type: string
          default: Forbidden
        errorMessage: 
          type: string
          example: You don't have permission 
        
    ErrorNotFound:
      type: object
      properties: 
        statusCode: 
          type: integer
          default: 404
        errorCode: 
          type: string
          default: Not found
        errorMessage: 
          type: string
          example: Requested data cannot be found 

    ErrorConflict:
      type: object
      properties:
        statusCode: 
          type: integer
          default: 409
        errorCode: 
          type: string
          default: Conflict
        errorMessage: 
          type: string
          example: Conflict. Item already exists
    
    ErrorInternal:
      type: object
      properties:
        statusCode: 
          type: integer
          default: 500
        errorCode: 
          type: string
          default: Internal Server Error
        errorMessage: 
          type: string
          example: Internal Server Error. Come back later


security: 
  - BearerAuth: []


tags: 
  - name: secrets 
    description: Kubernetes secrets
  - name: auth
    description: Authentication and authorization

